<h1><%= current_user.name %>: Dashboard</h1>

<div>
	<h2>Current Schedule:</h2>
	<% if @schedules.empty? %>
		<h3>Oops! You don't have any schedules yet!</h3>
	<% else %>
		<% @schedule = @schedules.last %>
		<%= render 'schedules/table' %>
	<% end %>
	<a href="/schedules/generate">Generate New Schedule</a>
</div>

<div>
	<h2>Shifts:</h2>
	<% @shifts.each do |shift| %>
		<%= shift.inspect %> <br>
	<% end %>
</div>

<div>
	<h2>Employees:</h2>
	<table>
		<% @employees.each do |emp| %>
			<tr><td><%= emp.name %></td><td><%= link_to 'Edit', edit_employee_path(emp) %></td></tr>
		<% end %>
	</table>
</div>


<div>
	<h2>Shifts:</h2>
	<%= @shifts.count %>
</div>
