<h1>Dashboard</h1>

<div>
  <h3>Current Schedule:</h3>
  <center>
	<a href=<%= schedules_generate_path %>>Generate New Schedule</a>
	<% if @schedules.empty? %>
      <h3>Oops! You don't have any schedules yet!</h3>
	<% else %>
      <% @schedule = @schedules.last %>
      <%= render 'schedules/table' %>
	<% end %>
  </center>
	
</div>
<br/>

<div>
	<h3>Shifts:</h3>
	<center>
		<a href= <%= shifts_path %> >Add/Edit</a>
		<table class="table table-hover table-striped table-bordered table-condensed">
			<% @shifts.count.times do |x| %>
				<% if x%4 == 0 %> </tr><tr> <% end %>
				<td><%= @shifts[x].to_s %></td>
			<% end %>
			</tr>
		<table>
	</center>
</div>
<br/>

<div>
	<h3>Employees:</h3>

	<center>
		<a href= <%= employees_path %> >Add/Edit</a>
		<table class="table table-hover table-striped table-bordered table-condensed">
			<% @employees.count.times do |x| %>
				<% if x%5 == 0 %> </tr><tr> <% end %>
				<td><%= @employees[x].name %> <%= link_to 'Edit', edit_employee_path(@employees[x]) %></td>
			<% end %>
			</tr>
		<table>
	</center>
</div>
