<% provide(:title, "Sign in ") %>


<div class="center hero-unit">
	<h1>Welcome to Stargate</h1>
	<h2>Please Sign In</h2>
  <div>
    <%= form_for(:session, url: :sessions) do |f| %>

	 <div class="editor-label">
     <%= f.label :email %>
	  </div>
	  <div class="editor-field">
     <%= f.text_field :email, :class => "txtInput" %>
	  </div>

	 <div class="editor-label">
     <%= f.label :password %>
	  </div>
	  <div class="editor-field">
     <%= f.password_field :password, :class => "txtInput" %>
	  </div>

	  <br/>
	  
     <%= f.submit "Sign in", :class => "btn btn-large btn-primary" %>
	 
	 <br/>
   <% end %>

   <p>New user? <%= link_to "Sign up here", signup_path %>.</p>
  </div>
</div>
