<%= form_for(@employee) do |f| %>
  <% if @employee.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@employee.errors.count, "error") %> prohibited this employee from being saved:</h2>

      <ul>
      <% @employee.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <h2>Contact Information</h2>
  <center>
      Name:<br><%= f.text_field :name %><br>
      Email:<br><%= f.text_field :email %><br>

  <h2>Availability</h2>
  <div class="time_selects">
    <table class="table table-hover table-striped table-bordered">
      <tr>
        <th></th>
        <th>Monday</th>
        <th>Tuesday</th>
        <th>Wednesday</th>
        <th>Thursday</th>
        <th>Friday</th>
        <th>Saturday</th>
        <th>Sunday</th>
      </tr>

      <tr>
        <th>Start</th>
        <% 7.times do |day| %>
          <% availability = Availability.find_by_employee_id_and_day(@employee.id, day) %>
          <% start_time = availability.present? ? availability.start : Time.now.midnight %>

          <td><%= time_select "availability[#{day.to_s}]", "start", {minute_step: 15, ampm: true, default: start_time} %></td>
        <% end %>
      </tr>

      <tr>
        <th>End</th>
        <% 7.times do |day| %>
          <% availability = Availability.find_by_employee_id_and_day(@employee.id, day) %>
          <% end_time = availability.present? ? availability.end : Time.now.midnight %>

          <td><%= time_select "availability[#{day.to_s}]", "end", {minute_step: 15, ampm: true, default: end_time} %></td>
        <% end %>
      </tr>
    </table>
  </div>

    <BR>
    <%= f.submit 'Create', :class => "btn btn-success" %>
  </center>
<% end %>
