<h1>Listing employees</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Monday</th>
    <th>Tuesday</th>
    <th>Wednesday</th>
    <th>Thursday</th>
    <th>Friday</th>
    <th>Saturday</th>
    <th>Sunday</th>
    <th></th>
    <th></th>
  </tr>

<% @employees.each do |employee| %>
  <% @availability = Availability.find_all_by_employee_id(employee.id) %>
  <tr>
    <td><%= employee.name %></td>
    <% 7.times do |day| %>
      <% if @availability[day].start && @availability[day].available? %>
        <td><%= @availability[day].start.strftime("%I:%M%p") %> - <%= @availability[day].end.strftime("%I:%M%p") %></td>
      <% else %>
        <td>Off</td>
      <% end %>
    <% end %>
    <td><%= link_to 'Edit', edit_employee_path(employee) %></td>
    <td><%= link_to 'Delete', employee, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Employee', new_employee_path %>
