<p id="notice"><%= notice %></p>

<h2><%= @employee.name %></h2>

<table >
  <tr>
    <th>Monday</th>
    <th>Tuesday</th>
    <th>Wednesday</th>
    <th>Thursday</th>
    <th>Friday</th>
    <th>Saturday</th>
    <th>Sunday</th>
  </tr>

  <tr>
    <td><%= @employee.mon_start.strftime("%I:%M%p") %> - <%= @employee.mon_end.strftime("%I:%M%p") %></td>
    <td><%= @employee.tue_start.strftime("%I:%M%p") %> - <%= @employee.tue_end.strftime("%I:%M%p") %></td>
    <td><%= @employee.wed_start.strftime("%I:%M%p") %> - <%= @employee.wed_end.strftime("%I:%M%p") %></td>
    <td><%= @employee.thu_start.strftime("%I:%M%p") %> - <%= @employee.thu_end.strftime("%I:%M%p") %></td>
    <td><%= @employee.fri_start.strftime("%I:%M%p") %> - <%= @employee.fri_end.strftime("%I:%M%p") %></td>
    <td><%= @employee.sat_start.strftime("%I:%M%p") %> - <%= @employee.sat_end.strftime("%I:%M%p") %></td>
    <td><%= @employee.sun_start.strftime("%I:%M%p") %> - <%= @employee.sun_end.strftime("%I:%M%p") %></td>
  </tr>
</table>

<p>
  <b>Days off:</b>
  <%= @employee.days_off %>
</p>


<%= link_to 'Edit', edit_employee_path(@employee) %> |
<%= link_to 'Done', employees_path %>
