<%= form_for(@shift) do |f| %>
  
  <center>

  <% if @shift.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@shift.errors.count, "error") %> prohibited this shift from being saved:</h2>

      <ul>
      <% @shift.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


  <div class="field">
    <label for="shift_day">Day</label>
    <select name="day">
      <% 7.times do |day| %>
        <option value=<%= day %>><%= human_readable_day(day) %></option>
      <% end %>
    </select>
  </div>
  
  <div class="shift_selects">
    Start:
    <%= f.time_select :start, { ampm: true, minute_step: 15, default: (@shift.start || Time.now.midnight)} %><br>
    End:
    <%= f.time_select :end, { ampm: true, minute_step: 15, default: (@shift.start || Time.now.midnight)} %>
  </div>
  

    <%= f.submit "Save", :class => "btn btn-success" %>

<% end %>

</center>
