<%= form_for(@shift) do |f| %>
  <% if @shift.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@shift.errors.count, "error") %> prohibited this shift from being saved:</h2>

      <ul>
      <% @shift.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<div class="time_selects">
<table >
  <tr>
    <th></th>
    <th>Monday</th>
    <th>Tuesday</th>
    <th>Wednesday</th>
    <th>Thursday</th>
    <th>Friday</th>
    <th>Saturday</th>
    <th>Sunday</th>
  </tr>

  <tr>
    <th>Start</th>
    <td><%= f.time_select :mon_start %></td>
    <td><%= f.time_select :tue_start %></td>
    <td><%= f.time_select :wed_start %></td>
    <td><%= f.time_select :thu_start %></td>
    <td><%= f.time_select :fri_start %></td>
    <td><%= f.time_select :sat_start %></td>
    <td><%= f.time_select :sun_start %></td>
  </tr>

  <tr>
    <th>End</th>
    <td><%= f.time_select :mon_end %></td>
    <td><%= f.time_select :tue_end %></td>
    <td><%= f.time_select :wed_end %></td>
    <td><%= f.time_select :thu_end %></td>
    <td><%= f.time_select :fri_end %></td>
    <td><%= f.time_select :sat_end %></td>
    <td><%= f.time_select :sun_end %></td>
  </tr>
</table>
</div>

<%= f.hidden_field :business_id, :value => current_user.id %>

  <div class="actions">
    <%= f.submit %>
  </div>

<% end %>
