<h1>New Shift</h1>

<%= form_for(@shift) do |f| %>
  
  <center>

  <% if @shift.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@shift.errors.count, "error") %> prohibited this shift from being saved:</h2>

      <ul>
      <% @shift.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


  <div class="field">
    <label for="shift_day">Day</label>
	<table>
		<tr>
		  <% 7.times do |day| %>
			<td>
				<input type="checkbox" id="day[<%= day %>]" name="day[<%= day %>]" value="<%= day %>" style="border:none" />
				<%= human_readable_day(day) %>
			</td>
		  <% end %>
		</td>
    </table>
  </div>
  
  <br/><br/>
  
  <div class="shift_selects">
    Start:
    <%= f.time_select :start, { ampm: true, minute_step: 15, default: (@shift.start || Time.now.midnight)} %><br>
    End:
    <%= f.time_select :end, { ampm: true, minute_step: 15, default: (@shift.start || Time.now.midnight)} %>
  </div>
  

    <%= f.submit "Save", :class => "btn btn-success" %>

</center>

<% end %>



<%= link_to 'Back', shifts_path %>
