<p id="notice"><%= notice %></p>

<p>
  <b>Mon start:</b>
  <%= @shift.mon_start %>
</p>

<p>
  <b>Mon end:</b>
  <%= @shift.mon_end %>
</p>

<p>
  <b>Tue start:</b>
  <%= @shift.tue_start %>
</p>

<p>
  <b>Tue end:</b>
  <%= @shift.tue_end %>
</p>

<p>
  <b>Wed start:</b>
  <%= @shift.wed_start %>
</p>

<p>
  <b>Wed end:</b>
  <%= @shift.wed_end %>
</p>

<p>
  <b>Thu start:</b>
  <%= @shift.thu_start %>
</p>

<p>
  <b>Thu end:</b>
  <%= @shift.thu_end %>
</p>

<p>
  <b>Fri start:</b>
  <%= @shift.fri_start %>
</p>

<p>
  <b>Fri end:</b>
  <%= @shift.fri_end %>
</p>

<p>
  <b>Sat start:</b>
  <%= @shift.sat_start %>
</p>

<p>
  <b>Sat end:</b>
  <%= @shift.sat_end %>
</p>

<p>
  <b>Sun start:</b>
  <%= @shift.sun_start %>
</p>

<p>
  <b>Sun end:</b>
  <%= @shift.sun_end %>
</p>


<%= link_to 'Edit', edit_shift_path(@shift) %> |
<%= link_to 'Back', shifts_path %>
