<html>
<h3> About Us</h3>

<title>About Us</title>
  <%= stylesheet_link_tag "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
<div>
<body>
<header class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <% if signed_in? %>
      <%= link_to current_user.name, '/dashboard', id: "logo" %>
      <nav>
        <ul class="nav pull-right">          
            <li><a href="/dashboard" >Dashboard</a></li>
            <li><a href= <%= employees_path %> >Employees</a></li>
            <li><a href= <%= shifts_path %> >Shifts</a></li>
            <li><%= link_to "Logout", signout_path, method: 'delete' %></li>
        </ul>
      </nav>
      <% else %>
      <%= link_to "STARGATE", "#", id: "logo" %>
      <% end %>
    </div>
  </div>
  </header>

	<center>
	SBSG is a schedule generating website which allows you the user to effectivly create a schedule for your business based on your employees availabilities. It was created by ... in the fall of 2012.  (add more...)
	</center>
</body>
</div>

</html>