<html>
<head>
<title>Contact Us</title>
  <%= stylesheet_link_tag "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<header class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <% if signed_in? %>
      <%= link_to current_user.name, '/dashboard', id: "logo" %>
      <nav>
        <ul class="nav pull-right">          
            <li><a href="/dashboard" >Dashboard</a></li>
            <li><a href= <%= employees_path %> >Employees</a></li>
            <li><a href= <%= shifts_path %> >Shifts</a></li>
            <li><%= link_to "Logout", signout_path, method: 'delete' %></li>
        </ul>
      </nav>
      <% else %>
      <%= link_to "STARGATE", "#", id: "logo" %>
      <% end %>
    </div>
  </div>
  </header>



<h3>Contact Us</h3>
If you have any questions about SBSG, send us an email.
Email us at (enter email here)
</body>


</html>