<!DOCTYPE html>
<html>
<head>
  <title>SBSG</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div>
    <div>

    </div>
    <div>
      <span><a href= <%= employees_path %> >Employees</a></span>
      <span><a href= <%= shifts_path %> >Shifts</a></span>
      <% if signed_in? %>
        <span><%= link_to "Logout", signout_path, method: 'delete' %></a></span>
      <% end %>
<% flash.each do |key, value| %>
  <%= content_tag(:div, value, class: "alert alert-#{key}") %>
<% end %>

<%= yield %>

</body>
</html>
