<!DOCTYPE html>
<html>
<head>
  <title>SBSG</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
    <div class="header">
      <% if signed_in? %>
        <span><a href="/dashboard" >Dashboard</a></span>
        <span><a href= <%= employees_path %> >Employees</a></span>
        <span><a href= <%= shifts_path %> >Shifts</a></span>
        <span><%= link_to "Logout", signout_path, method: 'delete' %></a></span>
      <% end %>
    </div>

  <div class="body">

    <%= yield %>
    
  </div>

</body>
</html>
